// 引用字型
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;500;700;900&display=swap');

// 色票定義
$primary-color: #00B74F;
$secondary-color: #B4875E;
$white: #fff;
$black: #00180A;
$grey1D: #1D1D1D;
$grey33: #333333;
$grey66: #666666;
$grey9F: #9F9F9F;
$greyD4: #D4D4D4;
$greyE9: #E9E9E9;
$greyF7: #F7F7F7;
$red: #EA5400;
$yellow: #EDC84C;
$bg: #F2F2E9;
$areatype_bg: linear-gradient(180deg, rgba(#103D23, 0.05) 0%, rgba(#103D23, 0.50) 100%);
// --------------------------
// 重複css
@mixin flex($j: center, $a: center, $g: 1rem) {
    display: flex;
    justify-content: $j;
    align-items: $a;
    gap: $g;
}
@mixin box-shadow {
    box-shadow: 0px 0px 0.5rem 0px rgba(0, 0, 0, 0.16);
}
@mixin media-breakpoint-up($size) {
    @media (min-width: $size) {
        @content;
    }
}
@mixin filter {
    filter: brightness(0.85);
}
@mixin shadow {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}
// --------------------------
// 字型包
@mixin font_18px($w: 700) {
    font-size: 1.125rem;
    font-weight: $w;
    line-height: 1.35rem;
    letter-spacing: 0.04rem;
}
@mixin font_16px($w: 400) {
    font-size: 1rem;
    font-weight: $w;
    line-height: 1.2rem;
    letter-spacing: 0.04rem;
}
@mixin font_14px($w: 400) {
    font-size: 0.875rem;
    font-weight: $w;
    line-height: 1.05rem;
    letter-spacing: 0.04rem;
}
// --------------------------
// 全域設定
* {
    font-family: 'Inter', 'Anton', 微軟正黑體, sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.1rem;
    color: $black;
    font-weight: 400;
    border: solid 1px #333333;
}
html, body {
    background-color: $bg;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    border: none;
    outline: none;

    &:focus,
    &:active {
        border: none;
        outline: none;
    }
}
p {
    margin: 0;
}
a {
    color: $black;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    color: initial;
}
button {
    color: initial;
    &:hover {
        color: initial;
        @include filter;
    }
}
.area_title{
    h1 {
        font-weight: 700;
        margin: 0;
        color:  $primary-color;
    }
    .en_text {
        @include font_16px;
        color: $secondary-color;
    }
}

// --------------------------
// recommend
.recommend {
    .recommend_card {
        background-color: $white;
        @include shadow;
        border-radius: 1.5rem;
        padding: 1rem;
    }
}
// --------------------------
// footer
footer {
    background-color: $grey33;
    padding: 3rem 0rem;
    .row {
        align-items: flex-end;
    }
}
.f_about {
    @include flex(flex-start, center);
    .title, .content, .btn_cta span {
        color: $greyE9;
    }
    .text {
        @include flex($a: flex-start, $g: 0.75rem);
        flex-direction: column;
    }
    .title {
        @include font_18px;
    }
    .content {
        @include font_14px;
    }
    .btn_cta span {
        @include font_16px(700);
        letter-spacing: 0.2rem;
    }
    .btn_cta {
        position: relative;
        width: 100%;
        cursor: pointer;
        .bg {
            width: 8.125rem;
            height: 2.5rem;
            background-color: $primary-color;
            border-radius: 6.25rem;
            transition: 0.5s;
        }
        .content {
            position: absolute;
            top: 0.7rem;
            left: 1.5rem;
            z-index: 2;
            @include flex;
        }
        .motion_line {
            width: 6.25rem;
            height: 0.0625rem;
            background-color: $greyE9;
        }
    }
    .btn_cta:hover .bg{
        width: 20rem;
        @include filter;
    }
}

.f_info {
    padding: 0.75rem 0rem;
    .f_nav {
        @include flex($j: flex-end, $g: 1.5rem);
        margin-bottom: 1rem;
        .f_nav_link {
            position: relative;
            color: $greyE9;
            padding: 0.5rem 0rem;
            border: none;
            @include font_14px;
        }
        .f_nav_link::after{
            position: absolute;
            transition: all .3s ease;
            content: '';
            width: 0;
            bottom: 0;
            left: inherit;
            right: 0;
            height: 1px;
            background: $primary-color;
        }
        .f_nav_link:hover {
            -webkit-transition: all .7s ease;
            transition: all .7s ease;
            @include filter;
            &::after {
                transition: all .3s ease;
                width: 100%;
                left: 0;
            }  
        }
        
    }
    .copyright {
        text-align: right;
        display: block;
        color: $secondary-color;
        @include font_14px;
    }
}


// --------------------------


// 把下底線滑動的效果元件化