@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;500;700;900&display=swap");
* {
  font-family: "Inter", "Anton", 微軟正黑體, sans-serif;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  color: #00180A;
  font-weight: 400;
}

html, body {
  background-color: #F2F2E9;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  border: none;
  outline: none;
}
input:focus, input:active {
  border: none;
  outline: none;
}

p {
  margin: 0;
}

a {
  color: #00180A;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: initial;
}

button {
  color: initial;
}
button:hover {
  color: initial;
  filter: brightness(0.85);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.area_title {
  margin-bottom: 2rem;
}
.area_title h1 {
  font-weight: 700;
  color: #00B74F;
}
.area_title .en_text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.04rem;
  color: #B4875E;
}

.btn_more {
  position: relative;
  border: none;
  padding-bottom: 0.3rem;
}

.btn_more::after {
  position: absolute;
  transition: all 0.3s ease;
  content: "";
  width: 0;
  bottom: 0;
  left: inherit;
  right: 0;
  height: 1px;
  background: #00B74F;
}

.btn_more a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.04rem;
  color: #00B74F;
  white-space: nowrap;
}
.btn_more a span {
  color: #00B74F;
  transition: 0.3s;
}

.btn_more:hover {
  transition: all 0.7s ease;
  filter: brightness(0.85);
}
.btn_more:hover::after {
  transition: all 0.3s ease;
  width: 100%;
  left: 0;
}
.btn_more:hover a {
  color: #00B74F;
}

.recommend {
  padding: 4rem 0rem;
}
.recommend .recommend_card {
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  border-radius: 1.5rem;
  padding: 1rem;
}
.recommend .recommend_card .card_img {
  width: 50%;
  border-radius: 1.25rem;
}
.recommend .recommend_card .card_info {
  padding: 0.5rem 0.25rem;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0.75rem;
  flex-direction: column;
}
.recommend .card_info_top, .recommend .card_info_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.recommend .card_title h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.04rem;
  margin-bottom: 0.75rem;
}
.recommend .card_title .subtitle {
  display: block;
  padding-left: 0.5rem;
  border-left: solid 2px #B4875E;
  color: #B4875E;
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.04rem;
}
.recommend .star_tag span {
  font-size: 2rem;
  padding: 0.5rem;
  color: #00180A;
  background-color: #EDC84C;
  border-radius: 0.75rem;
}
.recommend .card_content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.04rem;
  line-height: 150%;
  color: #666666;
  flex-basis: 10.5rem;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.recommend .card_point {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem;
  border-top: solid 1px #D4D4D4;
  border-bottom: solid 1px #D4D4D4;
}
.recommend .card_point .min, .recommend .card_point .address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.04rem;
}
.recommend .card_point span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.04rem;
}
.recommend .card_tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.recommend .card_tags a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.04rem;
  padding: 0.25rem 0.75rem;
  background-color: #E9E9E9;
  border-radius: 6.25rem;
  transition: 0.3s;
}
.recommend .card_tags a:hover {
  filter: brightness(0.85);
}

footer {
  background-color: #333333;
  padding: 3rem 0rem;
}
footer .row {
  align-items: flex-end;
}

.f_about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.f_about .title, .f_about .content, .f_about .btn_cta span {
  color: #E9E9E9;
}
.f_about .text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;
  flex-direction: column;
}
.f_about .title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.04rem;
}
.f_about .content {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.04rem;
}
.f_about .btn_cta span {
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.04rem;
  letter-spacing: 0.2rem;
}
.f_about .btn_cta {
  position: relative;
  width: 100%;
  cursor: pointer;
}
.f_about .btn_cta .bg {
  width: 8.125rem;
  height: 2.5rem;
  background-color: #00B74F;
  border-radius: 6.25rem;
  transition: 0.3s;
}
.f_about .btn_cta .content {
  position: absolute;
  top: 0.7rem;
  left: 1.5rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.f_about .btn_cta .motion_line {
  width: 6.25rem;
  height: 0.0625rem;
  background-color: #E9E9E9;
}
.f_about .btn_cta:hover .bg {
  width: 20rem;
  filter: brightness(0.85);
}

.f_info {
  padding: 0.75rem 0rem;
}
.f_info .f_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.f_info .f_nav .f_nav_link {
  position: relative;
  color: #E9E9E9;
  padding: 0.5rem 0rem;
  border: none;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.04rem;
}
.f_info .f_nav .f_nav_link::after {
  position: absolute;
  transition: all 0.3s ease;
  content: "";
  width: 0;
  bottom: 0;
  left: inherit;
  right: 0;
  height: 1px;
  background: #00B74F;
}
.f_info .f_nav .f_nav_link:hover {
  transition: all 0.7s ease;
  filter: brightness(0.85);
}
.f_info .f_nav .f_nav_link:hover::after {
  transition: all 0.3s ease;
  width: 100%;
  left: 0;
}
.f_info .copyright {
  text-align: right;
  display: block;
  color: #B4875E;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.04rem;
}/*# sourceMappingURL=style.css.map */